doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Casa de cxHou
  body
    .header
      h1.page-title Casa de cxHou

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
      p to be continued.
