doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='resource/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/mycss.css')
        script(src='resource/jquery/dist/jquery.min.js')
        script(src='resource/bootstrap/dist/js/bootstrap.min.js')
        title Casa de cxHou
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        //script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    body

        block content


